.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media (max-width: 768px) {
    .choice .row {
        flex-direction: column-reverse;
    }
    .choice .list-item {
        margin-bottom: 20px;
    }
}